In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/Dataset.csv")

In [ ]:
df = pd.DataFrame(df)

In [ ]:
df

          country  year  ... gdp_per_capita ($)       generation
0         Albania  1987  ...                796     Generation X
1         Albania  1987  ...                796           Silent
2         Albania  1987  ...                796     Generation X
3         Albania  1987  ...                796  G.I. Generation
4         Albania  1987  ...                796          Boomers
...           ...   ...  ...                ...              ...
27815  Uzbekistan  2014  ...               2309     Generation X
27816  Uzbekistan  2014  ...               2309           Silent
27817  Uzbekistan  2014  ...               2309     Generation Z
27818  Uzbekistan  2014  ...               2309     Generation Z
27819  Uzbekistan  2014  ...               2309          Boomers

[27820 rows x 12 columns]

In [ ]:
df[['country', 'sex', 'year']]

          country     sex  year
0         Albania    male  1987
1         Albania    male  1987
2         Albania  female  1987
3         Albania    male  1987
4         Albania    male  1987
...           ...     ...   ...
27815  Uzbekistan  female  2014
27816  Uzbekistan  female  2014
27817  Uzbekistan    male  2014
27818  Uzbekistan  female  2014
27819  Uzbekistan  female  2014

[27820 rows x 3 columns]

In [ ]:
len(df.index)

27820

In [ ]:
len(df.columns)

12

In [ ]:
df.dtypes

country                object
year                    int64
sex                    object
age                    object
suicides_no             int64
population              int64
suicides/100k pop     float64
country-year           object
HDI for year          float64
 gdp_for_year ($)      object
gdp_per_capita ($)      int64
generation             object
dtype: object

In [ ]:
df.nunique()

country                 101
year                     32
sex                       2
age                       6
suicides_no            2084
population            25564
suicides/100k pop      5298
country-year           2321
HDI for year            305
 gdp_for_year ($)      2321
gdp_per_capita ($)     2233
generation                6
dtype: int64

In [ ]:
df.isnull().sum()

country                   0
year                      0
sex                       0
age                       0
suicides_no               0
population                0
suicides/100k pop         0
country-year              0
HDI for year          19456
 gdp_for_year ($)         0
gdp_per_capita ($)        0
generation                0
dtype: int64

In [ ]:
len(df.dropna())

8364